## Unlabelled data

In [1]:
import ruptures as rpt
import numpy as np
import pandas as pd

In [2]:
import data_processing
import feature_extraction

In [3]:
df = data_processing.read_all_users('geolife_trajectories')
df = data_processing.process_classes(df)

[1/182] processing user 135
[2/182] processing user 132
[3/182] processing user 104
[4/182] processing user 103
[5/182] processing user 168
[6/182] processing user 157
[7/182] processing user 150
[8/182] processing user 159
[9/182] processing user 166
[10/182] processing user 161
[11/182] processing user 102
[12/182] processing user 105
[13/182] processing user 133
[14/182] processing user 134
[15/182] processing user 160
[16/182] processing user 158
[17/182] processing user 167
[18/182] processing user 151
[19/182] processing user 169
[20/182] processing user 156
[21/182] processing user 024
[22/182] processing user 023
[23/182] processing user 015
[24/182] processing user 012
[25/182] processing user 079
[26/182] processing user 046
[27/182] processing user 041
[28/182] processing user 048
[29/182] processing user 077
[30/182] processing user 083
[31/182] processing user 084
[32/182] processing user 070
[33/182] processing user 013
[34/182] processing user 014
[35/182] processing user 022
[36/182] processing user 025
[37/182] processing user 071
[38/182] processing user 085
[39/182] processing user 049
[40/182] processing user 082
[41/182] processing user 076
[42/182] processing user 040
[43/182] processing user 078
[44/182] processing user 047
[45/182] processing user 065
[46/182] processing user 091
[47/182] processing user 096
[48/182] processing user 062
[49/182] processing user 054
[50/182] processing user 053
[51/182] processing user 098
[52/182] processing user 038
[53/182] processing user 007
[54/182] processing user 000
[55/182] processing user 009
[56/182] processing user 036
[57/182] processing user 031
[58/182] processing user 052
[59/182] processing user 099
[60/182] processing user 055
[61/182] processing user 063
[62/182] processing user 097
[63/182] processing user 090
[64/182] processing user 064
[65/182] processing user 030
[66/182] processing user 008
[67/182] processing user 037
[68/182] processing user 001
[69/182] processing user 039
[70/182] processing user 006
[71/182] processing user 174
[72/182] processing user 180
[73/182] processing user 173
[74/182] processing user 145
[75/182] processing user 142
[76/182] processing user 129
[77/182] processing user 116
[78/182] processing user 111
[79/182] processing user 118
[80/182] processing user 127
[81/182] processing user 120
[82/182] processing user 143
[83/182] processing user 144
[84/182] processing user 172
[85/182] processing user 181
[86/182] processing user 175
[87/182] processing user 121
[88/182] processing user 119
[89/182] processing user 126
[90/182] processing user 110
[91/182] processing user 128
[92/182] processing user 117
[93/182] processing user 153
[94/182] processing user 154
[95/182] processing user 162
[96/182] processing user 165
[97/182] processing user 131
[98/182] processing user 136
[99/182] processing user 109
[100/182] processing user 100
[101/182] processing user 107
[102/182] processing user 138
[103/182] processing user 164
[104/182] processing user 163
[105/182] processing user 155
[106/182] processing user 152
[107/182] processing user 106
[108/182] processing user 139
[109/182] processing user 101
[110/182] processing user 137
[111/182] processing user 108
[112/182] processing user 130
[113/182] processing user 089
[114/182] processing user 042
[115/182] processing user 045
[116/182] processing user 087
[117/182] processing user 073
[118/182] processing user 074
[119/182] processing user 080
[120/182] processing user 020
[121/182] processing user 027
[122/182] processing user 018
[123/182] processing user 011
[124/182] processing user 016
[125/182] processing user 029
[126/182] processing user 081
[127/182] processing user 075
[128/182] processing user 072
[129/182] processing user 086
[130/182] processing user 044
[131/182] processing user 088
[132/182] processing user 043
[133/182] processing user 017
[134/182] processing user 028
[135/182] processing user 010
[136/182] processing user 026
[137/182] processing user 019
[138/182] processing user 021
[139/182] processing user 003
[140/182] processing user 004
[141/182] processing user 032
[142/182] processing user 035
[143/182] processing user 095
[144/182] processing user 061
[145/182] processing user 066
[146/182] processing user 092
[147/182] processing user 059
[148/182] processing user 050
[149/182] processing user 057
[150/182] processing user 068
[151/182] processing user 034
[152/182] processing user 033
[153/182] processing user 005
[154/182] processing user 002
[155/182] processing user 056
[156/182] processing user 069
[157/182] processing user 051
[158/182] processing user 093
[159/182] processing user 067
[160/182] processing user 058
[161/182] processing user 060
[162/182] processing user 094
[163/182] processing user 112
[164/182] processing user 115
[165/182] processing user 123
[166/182] processing user 124
[167/182] processing user 170
[168/182] processing user 177
[169/182] processing user 148
[170/182] processing user 141
[171/182] processing user 146
[172/182] processing user 179
[173/182] processing user 125
[174/182] processing user 122
[175/182] processing user 114
[176/182] processing user 113
[177/182] processing user 147
[178/182] processing user 178
[179/182] processing user 140
[180/182] processing user 176
[181/182] processing user 149
[182/182] processing user 171

Extract the unllabelled data

In [4]:
unlabelled_df = data_processing.get_unlabelled(df)

In [12]:
unlabelled_df

,lat,lon,alt,elapsed time,time,trajectory,label,user,segment
0,39.974294,116.399741,492.000000,39816.056644,2009-01-03 01:21:34,20090103012134.plt,0,135,1
1,39.974292,116.399592,492.000000,39816.056655,2009-01-03 01:21:35,20090103012134.plt,0,135,1
2,39.974309,116.399523,492.000000,39816.056667,2009-01-03 01:21:36,20090103012134.plt,0,135,1
3,39.974320,116.399588,492.000000,39816.056690,2009-01-03 01:21:38,20090103012134.plt,0,135,1
4,39.974365,116.399730,491.000000,39816.056701,2009-01-03 01:21:39,20090103012134.plt,0,135,1
...,...,...,...,...,...,...,...,...,...
28,39.973817,116.324117,265.748031,39286.418252,2007-07-23 10:02:17,20070723033153.plt,0,171,31967
29,39.973333,116.323683,265.748031,39286.419028,2007-07-23 10:03:24,20070723033153.plt,0,171,31967
30,39.973733,116.323250,364.173228,39286.419421,2007-07-23 10:03:58,20070723033153.plt,0,171,31967
31,39.973317,116.322967,246.062992,39286.420243,2007-07-23 10:05:09,20070723033153.plt,0,171,31967
32,39.973150,116.323283,291.994751,39286.421273,2007-07-23 10:06:38,20070723033153.plt,0,171,31967

In [5]:
df['label'].value_counts()

label
0        19449861
walk      1585401
bus       1276632
bike       948061
train      847147
car        754825
Name: count, dtype: int64

In [4]:
df.groupby('label')['trajectory'].nunique()

label
0        17431
bike      1056
bus       1321
car       1082
train      629
walk      2299
Name: trajectory, dtype: int64

In [5]:
df = data_processing.create_segments(df)

In [6]:
df

,lat,lon,alt,elapsed time,time,trajectory,label,user,segment
0,39.974294,116.399741,492.000000,39816.056644,2009-01-03 01:21:34,20090103012134.plt,0,135,1
1,39.974292,116.399592,492.000000,39816.056655,2009-01-03 01:21:35,20090103012134.plt,0,135,1
2,39.974309,116.399523,492.000000,39816.056667,2009-01-03 01:21:36,20090103012134.plt,0,135,1
3,39.974320,116.399588,492.000000,39816.056690,2009-01-03 01:21:38,20090103012134.plt,0,135,1
4,39.974365,116.399730,491.000000,39816.056701,2009-01-03 01:21:39,20090103012134.plt,0,135,1
...,...,...,...,...,...,...,...,...,...
28,39.973817,116.324117,265.748031,39286.418252,2007-07-23 10:02:17,20070723033153.plt,0,171,43099
29,39.973333,116.323683,265.748031,39286.419028,2007-07-23 10:03:24,20070723033153.plt,0,171,43099
30,39.973733,116.323250,364.173228,39286.419421,2007-07-23 10:03:58,20070723033153.plt,0,171,43099
31,39.973317,116.322967,246.062992,39286.420243,2007-07-23 10:05:09,20070723033153.plt,0,171,43099
32,39.973150,116.323283,291.994751,39286.421273,2007-07-23 10:06:38,20070723033153.plt,0,171,43099

In [7]:
asssh = data_processing.calculations(df)

In [8]:
df

,lat,lon,alt,elapsed time,time,trajectory,label,user,segment
0,39.974294,116.399741,492.000000,39816.056644,2009-01-03 01:21:34,20090103012134.plt,0,135,1
1,39.974292,116.399592,492.000000,39816.056655,2009-01-03 01:21:35,20090103012134.plt,0,135,1
2,39.974309,116.399523,492.000000,39816.056667,2009-01-03 01:21:36,20090103012134.plt,0,135,1
3,39.974320,116.399588,492.000000,39816.056690,2009-01-03 01:21:38,20090103012134.plt,0,135,1
4,39.974365,116.399730,491.000000,39816.056701,2009-01-03 01:21:39,20090103012134.plt,0,135,1
...,...,...,...,...,...,...,...,...,...
28,39.973817,116.324117,265.748031,39286.418252,2007-07-23 10:02:17,20070723033153.plt,0,171,31967
29,39.973333,116.323683,265.748031,39286.419028,2007-07-23 10:03:24,20070723033153.plt,0,171,31967
30,39.973733,116.323250,364.173228,39286.419421,2007-07-23 10:03:58,20070723033153.plt,0,171,31967
31,39.973317,116.322967,246.062992,39286.420243,2007-07-23 10:05:09,20070723033153.plt,0,171,31967
32,39.973150,116.323283,291.994751,39286.421273,2007-07-23 10:06:38,20070723033153.plt,0,171,31967

In [9]:
df.groupby('label')['segment'].nunique()

label
0        22259
bike      1580
bus       1884
car       1348
train      793
walk      4103
Name: segment, dtype: int64

In [8]:
df.groupby('label')['segment'].nunique()

label
0        16496
bike      1558
bus       1867
car       1340
train      758
walk      4002
Name: segment, dtype: int64

In [9]:
df[df['trajectory'] == '20120727080700.plt']

,lat,lon,alt,elapsed time,time,trajectory,label,user,segment,distance,speed,time_diff,acceleration,bearing,heading_change,Vrate,angular_velocity,angular_acceleration
3,39.990067,116.442591,128.602005,41117.338368,2012-07-27 08:07:15,20120727080700.plt,0,163,22166,0.048132,0.009626,5.0,-0.000400,271.924069,33.275767,0.207741,-6.655153,-4.859120
4,39.990083,116.442321,133.234472,41117.338426,2012-07-27 08:07:20,20120727080700.plt,0,163,22166,0.022991,0.004598,5.0,-0.001006,274.350421,2.426352,1.093513,0.485270,1.428085
5,39.990083,116.441885,133.946749,41117.338484,2012-07-27 08:07:25,20120727080700.plt,0,163,22166,0.037216,0.007443,5.0,0.000569,270.015719,4.334703,0.382224,-0.866941,-0.270442
6,39.990087,116.441528,133.204760,41117.338542,2012-07-27 08:07:30,20120727080700.plt,0,163,22166,0.030386,0.006077,5.0,-0.000273,270.807797,0.792078,0.224787,0.158416,0.205071
7,39.990087,116.441081,134.766332,41117.338600,2012-07-27 08:07:35,20120727080700.plt,0,163,22166,0.038046,0.007609,5.0,0.000306,269.918761,0.889035,0.201354,-0.177807,-0.067245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,39.979481,116.303499,131.760207,41117.354861,2012-07-27 08:31:00,20120727080700.plt,0,163,22166,0.000507,0.000101,5.0,-0.000042,311.323586,225.945751,2.070380,45.189150,11.528095
292,39.979475,116.303497,131.097241,41117.354919,2012-07-27 08:31:05,20120727080700.plt,0,163,22166,0.000679,0.000340,2.0,0.000170,193.490543,193.490543,1.000000,96.745272,100.259900
293,39.979374,116.303522,126.235679,41117.354977,2012-07-27 08:31:10,20120727080700.plt,0,163,22166,0.011389,0.002278,5.0,0.000388,169.100564,24.389980,0.850869,-4.877996,-20.324654
294,39.979190,116.303587,119.301427,41117.355035,2012-07-27 08:31:15,20120727080700.plt,0,163,22166,0.021180,0.004236,5.0,0.000392,164.975095,4.125468,0.462290,-0.825094,0.810580
295,39.979081,116.303572,112.078146,41117.355093,2012-07-27 08:31:20,20120727080700.plt,0,163,22166,0.012222,0.002444,5.0,-0.000358,185.763524,20.788429,0.732876,4.157686,0.996556

## Predicting the unlabelled datapoints

Function that gets the dataset with only the unlabelled datapoints:

In [5]:
unlabelled_df

,lat,lon,alt,elapsed time,time,trajectory,label,user
0,39.974294,116.399741,492.000000,39816.056644,2009-01-03 01:21:34,20090103012134.plt,0,135
1,39.974292,116.399592,492.000000,39816.056655,2009-01-03 01:21:35,20090103012134.plt,0,135
2,39.974309,116.399523,492.000000,39816.056667,2009-01-03 01:21:36,20090103012134.plt,0,135
3,39.974320,116.399588,492.000000,39816.056690,2009-01-03 01:21:38,20090103012134.plt,0,135
4,39.974365,116.399730,491.000000,39816.056701,2009-01-03 01:21:39,20090103012134.plt,0,135
...,...,...,...,...,...,...,...,...
28,39.973817,116.324117,265.748031,39286.418252,2007-07-23 10:02:17,20070723033153.plt,0,171
29,39.973333,116.323683,265.748031,39286.419028,2007-07-23 10:03:24,20070723033153.plt,0,171
30,39.973733,116.323250,364.173228,39286.419421,2007-07-23 10:03:58,20070723033153.plt,0,171
31,39.973317,116.322967,246.062992,39286.420243,2007-07-23 10:05:09,20070723033153.plt,0,171
32,39.973150,116.323283,291.994751,39286.421273,2007-07-23 10:06:38,20070723033153.plt,0,171

Segment unlabelled dataset as best as possible (only trajectories at first)

In [4]:
unlabelled_df = data_processing.create_segments(df)

In [ ]:
first_5000_segments = unlabelled_df.iloc[:5000]

In [9]:
unlabelled_df

,lat,lon,alt,elapsed time,time,trajectory,label,user,segment
0,39.974294,116.399741,492.000000,39816.056644,2009-01-03 01:21:34,20090103012134.plt,0,135,1
1,39.974292,116.399592,492.000000,39816.056655,2009-01-03 01:21:35,20090103012134.plt,0,135,1
2,39.974309,116.399523,492.000000,39816.056667,2009-01-03 01:21:36,20090103012134.plt,0,135,1
3,39.974320,116.399588,492.000000,39816.056690,2009-01-03 01:21:38,20090103012134.plt,0,135,1
4,39.974365,116.399730,491.000000,39816.056701,2009-01-03 01:21:39,20090103012134.plt,0,135,1
...,...,...,...,...,...,...,...,...,...
28,39.973817,116.324117,265.748031,39286.418252,2007-07-23 10:02:17,20070723033153.plt,0,171,43099
29,39.973333,116.323683,265.748031,39286.419028,2007-07-23 10:03:24,20070723033153.plt,0,171,43099
30,39.973733,116.323250,364.173228,39286.419421,2007-07-23 10:03:58,20070723033153.plt,0,171,43099
31,39.973317,116.322967,246.062992,39286.420243,2007-07-23 10:05:09,20070723033153.plt,0,171,43099
32,39.973150,116.323283,291.994751,39286.421273,2007-07-23 10:06:38,20070723033153.plt,0,171,43099

Do feature calculations on the unlabeled dataset

In [5]:
unlabelled_df = data_processing.calculations(unlabelled_df)

In [17]:
unlabelled2=unlabelled_df.iloc[:5000000]

In [18]:
unlabelled2

,lat,lon,alt,elapsed time,time,trajectory,label,user,segment,distance,speed,time_diff,acceleration,bearing,heading_change,Vrate,angular_velocity,angular_acceleration
3,39.974320,116.399588,492.0,39816.056690,2009-01-03 01:21:38,20090103012134.plt,0,135,1,0.005672,0.002836,2.0,-0.001670,77.547097,210.275581,1.177637,-105.137790,-61.981946
4,39.974365,116.399730,491.0,39816.056701,2009-01-03 01:21:39,20090103012134.plt,0,135,1,0.013094,0.013094,1.0,0.010258,67.533389,10.013708,0.783402,-10.013708,95.124082
5,39.974391,116.399782,491.0,39816.056736,2009-01-03 01:21:42,20090103012134.plt,0,135,1,0.005291,0.001764,3.0,-0.003777,56.877188,10.656201,6.424578,-3.552067,2.153880
6,39.974426,116.399735,491.0,39816.056782,2009-01-03 01:21:46,20090103012134.plt,0,135,1,0.005584,0.001396,4.0,-0.000092,314.179106,257.301918,0.263217,64.325480,16.969387
7,39.974458,116.399700,491.0,39816.056840,2009-01-03 01:21:51,20090103012134.plt,0,135,1,0.004643,0.000929,5.0,-0.000094,320.031126,5.852020,0.503513,1.170404,-12.631015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,34.806073,117.236650,150.9,39850.810116,2009-02-06 19:26:34,20090206133210.plt,0,25,7064,0.168105,0.033621,5.0,-0.000099,308.045592,2.582844,0.014707,0.516569,0.292717
2168,34.807235,117.235433,128.0,39850.810174,2009-02-06 19:26:39,20090206133210.plt,0,25,7064,0.170356,0.034071,5.0,0.000090,319.306135,11.260543,0.013213,2.252109,0.347108
2169,34.808483,117.234373,101.7,39850.810231,2009-02-06 19:26:44,20090206133210.plt,0,25,7064,0.169220,0.033844,5.0,-0.000045,325.117617,5.811482,0.006711,1.162296,-0.217962
2170,34.809847,117.233643,88.6,39850.810289,2009-02-06 19:26:49,20090206133210.plt,0,25,7064,0.165596,0.033119,5.0,-0.000145,336.267607,11.149991,0.021888,2.229998,0.213540
2171,34.811345,117.233127,78.7,39850.810347,2009-02-06 19:26:54,20090206133210.plt,0,25,7064,0.173153,0.034631,5.0,0.000302,344.191045,7.923438,0.043644,1.584688,-0.129062

Check dataset

In [27]:
# Get the first 300 entries
first_300_unlabelled_df = unlabelled_df.head(10000)

# Save the filtered DataFrame to a CSV file
first_300_unlabelled_df.to_csv('first10000_unlabelled.csv', index=False)

Right now, every segment is the entire length of a trajectory

Thus, detect changepoints using Rutgers package

In [ ]:
len(unlabelled_df)

hier mit groupyby über alle segments, funktioniert leider nict

In [ ]:
import ruptures as rpt
import pandas as pd

def detect_change_points(group, penalty=5):
    """
    Detects change points within a single segment using PELT with 'rbf'.

    Parameters:
    - group: DataFrame containing data for a single segment.
    - penalty: Controls the sensitivity of segmentation.

    Returns:
    - List of detected change points (global indices).
    """
    segment_data = group[['speed', 'acceleration']].values

    if len(segment_data) < 2:  # Skip small segments
        return []

    try:
        algo = rpt.Pelt(model="rbf").fit(segment_data)
        cps = algo.predict(pen=penalty)[:-1]  # Exclude last boundary
        return group.index[cps].tolist()  # Convert to global indices
    except Exception as e:
        print(f"Error processing segment {group['segment'].iloc[0]}: {e}")
        return []

# Apply the function to each segment using groupby()
change_points_dict = unlabelled_df.groupby('segment').apply(detect_change_points)

# Convert to a dictionary (segment → list of change points)
change_points_dict = change_points_dict.to_dict()

print(change_points_dict)  # Output dictionary with segment-wise change points

Create new segmnets, where a new segment starts when the trajectory changes, 30mins have passed or a changepoint was detected!

In [ ]:
def create_segments_unlabelled(df, change_points_dict):
    """
    Assigns segment numbers based on:
    1. Changes in trajectory.
    2. Changes in label.
    3. Time gaps greater than 30 minutes.
    4. Detected change points.

    Parameters:
    - df: DataFrame with ['trajectory', 'label', 'time'].
    - change_points_dict: Dictionary where keys are segments and values are lists of detected change point indices.

    Returns:
    - df: DataFrame with an updated 'segment' column.
    """
    df = df.sort_values(by=['trajectory', 'time']).copy()  # Ensure correct order

    # Convert time to datetime if needed
    df['time'] = pd.to_datetime(df['time'])

    # Flatten change point indices into a set for quick lookup
    change_points_set = {cp for cps in change_points_dict.values() for cp in cps}

    # Create a boolean mask for segment breaks
    mask = (
        (df['trajectory'] != df['trajectory'].shift()) |  # New trajectory
        (df['label'] != df['label'].shift()) |  # Label change
        (df['time'].diff().dt.total_seconds() > 1800) |  # More than 30 minutes
        (df.index.isin(change_points_set))  # A detected change point
    )

    # Assign segment numbers
    df['segment'] = mask.cumsum()

    return df

Apply

In [ ]:
unlabelled_df2 = create_segments_unlabelled(unlabelled_df)

Do calculations again

In [ ]:
unlabelled_df3 = data_processing.calculations(unlabelled_df2)

Finished

## Predict labels und unlabelled dataset

detect change points over sliding window

In [9]:
def detect_change_points_ruptures(df, window_size=200, penalty=5):
    """
    Detects transportation mode change points using the PELT algorithm in windows.

    Parameters:
    - df: DataFrame with ['speed', 'acceleration']
    - window_size: Number of samples per batch to process (prevents memory issues)
    - penalty: Penalty term (γ) controlling segmentation sensitivity

    Returns:
    - change_points: List of detected change point indices
    """
    change_points = []
    num_samples = len(df)

    for start in range(0, num_samples, window_size):
        end = min(start + window_size, num_samples)
        segment_data = df[['speed', 'acceleration']].iloc[start:end].values

        if len(segment_data) < 2:
            continue  # Avoid errors with very small windows
            #model='mean' for mean shift!
        algo = rpt.Pelt(model="rbf").fit(segment_data)
        cps = algo.predict(pen=penalty)

        # Adjust indices to match full dataset
        adjusted_cps = [start + cp for cp in cps[:-1]]  # Exclude last boundary
        change_points.extend(adjusted_cps)

    return sorted(change_points)

In [ ]:
# Detect change points using PELT algorithm
change_points_ruptures = detect_change_points_ruptures(unlabelled_df)
print("Change points detected:", change_points_ruptures)

In [8]:
len(change_points_ruptures)

155

Save this segments done with PELT

In [14]:
changepoints = pd.DataFrame(change_points_ruptures)
changepoints.to_csv('change_points_rbf')

In [21]:
change_points_ruptures = pd.read_csv('change_points_rbf')

In [23]:
len(change_points_ruptures)

328570

In [27]:
# Read the CSV file into a DataFrame, specifying the thousands separator
change_points = pd.read_csv('change_points_rbf', thousands=',')

# Drop the first and second columns
change_points = change_points.drop(change_points.columns[[0]], axis=1)

# Convert the DataFrame to a list
change_points_list = change_points.values.tolist()

# Display the list
change_points_list

[[55],
 [345],
 [575],
 [700],
 [825],
 [895],
 [1340],
 [1490],
 [2085],
 [2110],
 [2230],
 [2280],
 [2290],
 [2445],
 [2455],
 [2515],
 [2555],
 [2615],
 [2700],
 [2720],
 [2735],
 [2765],
 [2845],
 [2880],
 [2920],
 [3255],
 [3470],
 [3695],
 [3925],
 [4855],
 [4895],
 [4955],
 [4980],
 [5045],
 [5080],
 [5170],
 [5230],
 [5255],
 [5285],
 [5420],
 [5485],
 [5510],
 [5575],
 [5650],
 [5865],
 [5885],
 [6075],
 [6105],
 [6170],
 [6245],
 [6385],
 [6440],
 [6495],
 [6745],
 [6875],
 [7085],
 [7145],
 [7160],
 [7190],
 [7210],
 [7230],
 [7245],
 [7300],
 [7310],
 [7335],
 [7360],
 [7385],
 [7440],
 [7450],
 [7480],
 [7505],
 [7515],
 [7545],
 [7555],
 [7650],
 [7710],
 [7785],
 [7945],
 [8110],
 [8155],
 [8185],
 [8215],
 [8245],
 [8295],
 [8310],
 [8380],
 [8435],
 [8470],
 [8535],
 [8565],
 [8650],
 [8720],
 [8735],
 [8780],
 [8930],
 [8950],
 [9080],
 [9095],
 [9140],
 [9235],
 [9255],
 [9275],
 [9345],
 [9390],
 [9415],
 [9435],
 [9470],
 [9530],
 [9910],
 [9990],
 [10030],
 [10150],
 [10370],
 [10425],
 [10465],
 [10535],
 [10685],
 [10715],
 [10750],
 [10785],
 [10860],
 [10900],
 [10965],
 [11125],
 [11255],
 [11270],
 [11515],
 [11565],
 [11620],
 [11670],
 [11720],
 [12135],
 [12160],
 [12175],
 [12270],
 [12295],
 [12380],
 [12435],
 [12520],
 [12575],
 [12700],
 [12735],
 [12770],
 [12815],
 [12845],
 [12880],
 [12930],
 [13150],
 [13190],
 [13225],
 [13250],
 [13555],
 [13640],
 [14015],
 [14065],
 [14130],
 [14150],
 [14350],
 [14865],
 [14965],
 [14980],
 [15065],
 [15075],
 [15175],
 [15240],
 [15270],
 [15320],
 [15435],
 [15515],
 [15650],
 [15675],
 [15715],
 [15785],
 [15870],
 [15895],
 [16010],
 [16025],
 [16150],
 [16160],
 [16210],
 [16230],
 [16255],
 [16280],
 [16365],
 [16380],
 [16420],
 [16445],
 [16475],
 [16510],
 [16555],
 [16615],
 [16640],
 [16755],
 [16770],
 [16815],
 [16870],
 [16920],
 [16975],
 [17015],
 [17040],
 [17060],
 [17125],
 [17265],
 [17300],
 [17335],
 [17430],
 [17495],
 [17525],
 [17780],
 [17830],
 [17870],
 [18060],
 [18095],
 [18150],
 [18230],
 [18300],
 [18335],
 [18510],
 [18560],
 [18635],
 [18675],
 [18690],
 [18750],
 [18860],
 [18875],
 [18940],
 [18955],
 [18985],
 [19055],
 [19090],
 [19105],
 [19265],
 [19295],
 [19355],
 [19445],
 [19515],
 [19540],
 [19705],
 [19715],
 [19810],
 [19825],
 [19870],
 [19970],
 [20095],
 [20115],
 [20145],
 [20175],
 [20230],
 [20265],
 [20305],
 [20345],
 [20490],
 [20530],
 [20610],
 [20785],
 [20960],
 [21020],
 [21360],
 [21445],
 [21510],
 [21765],
 [21820],
 [22050],
 [22075],
 [22115],
 [22260],
 [22285],
 [22460],
 [22565],
 [22685],
 [22835],
 [22940],
 [23090],
 [23120],
 [23215],
 [23265],
 [23355],
 [23480],
 [23550],
 [23640],
 [23670],
 [23730],
 [23905],
 [23930],
 [24165],
 [24230],
 [24265],
 [24315],
 [24500],
 [24510],
 [24535],
 [24560],
 [24625],
 [24660],
 [24735],
 [24765],
 [24850],
 [24910],
 [24980],
 [25025],
 [25090],
 [25135],
 [25155],
 [25170],
 [25330],
 [25370],
 [25445],
 [25490],
 [25635],
 [25680],
 [25735],
 [25865],
 [26165],
 [26245],
 [26310],
 [26360],
 [26445],
 [26530],
 [26560],
 [26670],
 [26875],
 [26915],
 [26940],
 [26990],
 [27095],
 [27165],
 [27260],
 [27370],
 [27465],
 [27485],
 [27535],
 [27560],
 [28240],
 [28310],
 [28380],
 [28475],
 [28645],
 [28690],
 [28895],
 [28920],
 [28945],
 [29030],
 [29045],
 [29080],
 [29085],
 [29280],
 [29295],
 [29360],
 [29390],
 [29435],
 [29480],
 [29530],
 [29635],
 [29655],
 [29675],
 [29855],
 [29865],
 [29965],
 [30060],
 [30095],
 [30130],
 [30165],
 [30290],
 [30320],
 [30360],
 [30415],
 [30440],
 [30470],
 [30540],
 [30650],
 [30845],
 [31010],
 [31035],
 [31065],
 [31090],
 [31190],
 [31210],
 [31245],
 [31280],
 [31330],
 [31390],
 [31435],
 [31460],
 [31505],
 [31540],
 [31580],
 [31720],
 [31745],
 [31830],
 [31845],
 [31945],
 [31965],
 [32050],
 [32110],
 [32125],
 [32155],
 [32175],
 [32290],
 [32320],
 [32345],
 [32375],
 [32425],
 [32455],
 [32490],
 [32540],
 [32730],
 [32750],
 [32770],
 [32895],
 [32925],
 [32945],
 [32975],
 [33010],
 [33035],
 [33220],
 [33240],
 [33335],
 [33365],
 [33420],
 [33450],
 [33495],
 [33630],
 [33675],
 [33710],
 [33765],
 [33955],
 [34045],
 [34160],
 [34370],
 [34385],
 [34475],
 [34505],
 [34545],
 [34635],
 [34690],
 [34735],
 [34810],
 [34885],
 [34930],
 [35280],
 [35310],
 [35335],
 [35500],
 [36030],
 [36055],
 [36360],
 [36440],
 [36495],
 [36525],
 [36640],
 [36825],
 [36885],
 [36925],
 [37030],
 [37060],
 [37145],
 [37180],
 [37260],
 [37275],
 [37320],
 [37355],
 [37385],
 [37415],
 [37440],
 [37455],
 [37510],
 [37575],
 [37620],
 [37645],
 [37665],
 [37735],
 [37760],
 [37905],
 [37950],
 [38090],
 [38155],
 [38185],
 [38210],
 [38245],
 [38285],
 [38445],
 [38540],
 [38620],
 [38660],
 [38735],
 [39075],
 [39115],
 [39275],
 [39300],
 [39380],
 [39515],
 [39610],
 [39655],
 [39795],
 [39880],
 [39910],
 [40050],
 [40265],
 [40315],
 [40355],
 [40460],
 [40570],
 [40685],
 [40760],
 [40880],
 [40975],
 [41040],
 [41145],
 [41275],
 [41295],
 [41375],
 [41450],
 [41585],
 [41650],
 [41715],
 [41785],
 [41815],
 [41825],
 [41855],
 [41890],
 [41955],
 [41980],
 [42015],
 [42215],
 [42230],
 [42245],
 [42260],
 [42365],
 [42445],
 [42475],
 [42510],
 [42645],
 [42660],
 [42715],
 [42820],
 [42845],
 [42975],
 [43045],
 [43180],
 [43220],
 [43265],
 [43385],
 [43445],
 [43545],
 [43640],
 [43730],
 [43905],
 [43935],
 [43955],
 [43970],
 [44045],
 [44140],
 [44190],
 [44210],
 [44260],
 [44310],
 [44350],
 [44380],
 [44430],
 [44485],
 [44515],
 [44650],
 [44675],
 [44725],
 [44785],
 [44840],
 [44870],
 [45145],
 [45165],
 [45485],
 [45670],
 [46025],
 [46165],
 [46270],
 [46315],
 [46335],
 [46375],
 [46430],
 [46500],
 [46530],
 [46580],
 [46675],
 [46780],
 [46870],
 [46950],
 [47085],
 [47185],
 [47250],
 [47370],
 [47390],
 [47460],
 [47515],
 [47535],
 [47570],
 [47705],
 [47725],
 [47815],
 [47855],
 [47880],
 [47965],
 [48070],
 [48140],
 [48300],
 [48315],
 [48545],
 [48555],
 [48580],
 [48700],
 [48725],
 [48750],
 [48840],
 [48890],
 [48920],
 [49050],
 [49060],
 [49105],
 [49140],
 [49240],
 [49310],
 [49375],
 [49425],
 [49470],
 [49535],
 [49550],
 [49715],
 [49885],
 [49915],
 [49950],
 [50015],
 [50035],
 [50340],
 [50360],
 [50380],
 [50440],
 [50460],
 [50560],
 [50620],
 [50655],
 [50685],
 [50835],
 [50910],
 [50975],
 [51220],
 [51360],
 [51440],
 [51505],
 [51570],
 [51715],
 [51760],
 [51880],
 [51945],
 [52025],
 [52090],
 [52135],
 [52230],
 [52260],
 [52305],
 [52425],
 [52515],
 [52550],
 [52665],
 [52730],
 [52775],
 [52860],
 [52925],
 [52945],
 [53030],
 [53050],
 [53070],
 [53150],
 [53235],
 [53265],
 [53310],
 [53430],
 [53460],
 [53505],
 [53545],
 [53645],
 [53665],
 [53755],
 [53830],
 [53860],
 [53920],
 [53935],
 [53970],
 [54030],
 [54070],
 [54125],
 [54155],
 [54295],
 [54320],
 [54425],
 [54445],
 [54460],
 [54480],
 [54570],
 [54725],
 [54745],
 [54770],
 [54810],
 [54850],
 [54890],
 [54925],
 [54950],
 [55045],
 [55095],
 [55150],
 [55170],
 [55240],
 [55260],
 [55440],
 [55455],
 [55515],
 [55635],
 [55665],
 [55725],
 [55750],
 [55785],
 [55870],
 [55900],
 [55945],
 [55990],
 [56055],
 [56105],
 [56135],
 [56290],
 [56305],
 [56410],
 [56460],
 [56505],
 [56535],
 [56570],
 [56640],
 [56655],
 [56720],
 [56740],
 [56785],
 [56825],
 [56855],
 [56880],
 [56955],
 [56990],
 [57140],
 [57185],
 [57215],
 [57310],
 [57385],
 [57435],
 [57465],
 [57620],
 [57670],
 [57720],
 [57825],
 [57880],
 [57935],
 [57965],
 [58015],
 [58040],
 [58075],
 [58100],
 [58220],
 [58260],
 [58295],
 [58320],
 [58445],
 [58500],
 [58540],
 [58560],
 [58755],
 [59080],
 [59090],
 [59140],
 [59155],
 [59180],
 [59275],
 [59285],
 [59450],
 [59510],
 [59620],
 [59675],
 [59710],
 [59775],
 [59825],
 [59990],
 [60100],
 [60165],
 [60180],
 [60215],
 [60230],
 [60245],
 [60285],
 [60320],
 [60445],
 [60515],
 [60610],
 [60635],
 [60695],
 [60750],
 [60770],
 [60895],
 [60910],
 [61040],
 [61055],
 [61105],
 [61130],
 [61170],
 [61210],
 [61275],
 [61330],
 [61375],
 [61515],
 [61525],
 [61620],
 [61685],
 [61815],
 [61825],
 [61935],
 [62065],
 [62095],
 [62130],
 [62185],
 [62330],
 [62380],
 [62410],
 [62430],
 [62445],
 [62455],
 [62575],
 [62615],
 [62640],
 [62700],
 [62780],
 [62835],
 [62860],
 [63080],
 [63130],
 [63175],
 [63235],
 [63295],
 [63320],
 [63355],
 [63465],
 [63875],
 [63940],
 [64025],
 [64065],
 [64180],
 [64255],
 [64300],
 [64335],
 [64475],
 [64575],
 [64610],
 [64770],
 [64840],
 [64955],
 [65080],
 [65320],
 [65370],
 [65465],
 [65525],
 [65560],
 [65645],
 [65770],
 [65880],
 [66030],
 [66070],
 [66155],
 [66225],
 [66335],
 [66460],
 [66480],
 [66505],
 [66570],
 [66700],
 [66725],
 [66735],
 [66835],
 [66845],
 [66860],
 [66950],
 [67065],
 [67075],
 [67145],
 [67165],
 [67270],
 [67310],
 [67335],
 [67485],
 [67510],
 [67570],
 [67645],
 [67715],
 [67770],
 [67850],
 [67870],
 [67945],
 [68130],
 [68225],
 [68270],
 [68435],
 [68480],
 [68530],
 [68580],
 [68635],
 [68740],
 [68850],
 [68895],
 [68940],
 [68975],
 [69020],
 [69095],
 [69180],
 [69320],
 [69510],
 [69640],
 [69685],
 [69810],
 [69850],
 [70015],
 [70055],
 [70110],
 [70150],
 [70310],
 [70355],
 [70630],
 [70715],
 [70780],
 [70860],
 [70915],
 [70955],
 [71055],
 [71090],
 [71140],
 [71180],
 [71250],
 [71290],
 [71330],
 [71375],
 [71445],
 [71490],
 [71570],
 [71615],
 [71645],
 [71670],
 [71715],
 [71750],
 [71785],
 [71830],
 [71875],
 [71915],
 [72060],
 [72085],
 [72190],
 [72240],
 [72250],
 [72305],
 [72350],
 [72450],
 [72510],
 [72650],
 [72690],
 [72735],
 [72775],
 [72820],
 [72875],
 [72915],
 [72960],
 [73035],
 [73075],
 [73110],
 [73225],
 [73315],
 [73350],
 [73380],
 [73550],
 [73575],
 [73655],
 [73670],
 [73845],
 [73920],
 [73970],
 [74065],
 [74090],
 [74250],
 [74265],
 [74330],
 [74345],
 [74410],
 [74430],
 [74465],
 [74495],
 [74530],
 [74555],
 [74590],
 [74655],
 [74675],
 [74740],
 [74750],
 [74770],
 ...]

In [24]:
change_points_ruptures

        Unnamed: 0         0
0                0        55
1                1       345
2                2       575
3                3       700
4                4       825
...            ...       ...
328565      328565  23011700
328566      328566  23011740
328567      328567  23011900
328568      328568  23011935
328569      328569  23012080

[328570 rows x 2 columns]

Read changepoints from csv!

In [ ]:
#change_points_ruptures = pd.read_csv('change_points_rbf',thousands=',')

#change_points_ruptures = change_points_ruptures.drop(change_points_ruptures.columns[[0]], axis=1)

# Convert the DataFrame to a NumPy array
#change_points_array = change_points_ruptures.to_numpy()

# Display the NumPy array
#dim(ange_points_array)

NameError: name 'dim' is not defined

Match change points with the dataset

In [30]:
# Assuming 'change_points' is your list or array of changepoint indices
# and 'df' is your DataFrame

# Sort the changepoints (in case they aren't already)
sorted_cp = np.sort(change_points)

# Create start points for each segment
starts = np.concatenate([[0], change_points_list])

# Assign segment IDs using np.searchsorted
unlabelled_df['segment_id'] = np.searchsorted(starts, np.arange(len(unlabelled_df)), side='right')

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 1 dimension(s) and the array at index 1 has 2 dimension(s)

In [16]:
unlabelled_df

,lat,lon,alt,elapsed time,time,trajectory,label,user,segment,distance,speed,time_diff,acceleration,bearing,heading_change,Vrate,angular_velocity,angular_acceleration,segment_id
3,39.974320,116.399588,492.000000,39816.056690,2009-01-03 01:21:38,20090103012134.plt,0,135,1,0.005672,0.002836,2.0,-0.001670,77.547097,210.275581,1.177637,-105.137790,-61.981946,1
4,39.974365,116.399730,491.000000,39816.056701,2009-01-03 01:21:39,20090103012134.plt,0,135,1,0.013094,0.013094,1.0,0.010258,67.533389,10.013708,0.783402,-10.013708,95.124082,1
5,39.974391,116.399782,491.000000,39816.056736,2009-01-03 01:21:42,20090103012134.plt,0,135,1,0.005291,0.001764,3.0,-0.003777,56.877188,10.656201,6.424578,-3.552067,2.153880,1
6,39.974426,116.399735,491.000000,39816.056782,2009-01-03 01:21:46,20090103012134.plt,0,135,1,0.005584,0.001396,4.0,-0.000092,314.179106,257.301918,0.263217,64.325480,16.969387,1
7,39.974458,116.399700,491.000000,39816.056840,2009-01-03 01:21:51,20090103012134.plt,0,135,1,0.004643,0.000929,5.0,-0.000094,320.031126,5.852020,0.503513,1.170404,-12.631015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,39.973817,116.324117,265.748031,39286.418252,2007-07-23 10:02:17,20070723033153.plt,0,171,31967,0.122389,0.001055,116.0,-0.000004,178.004991,1.763070,0.400235,0.015199,0.012360,328571
29,39.973333,116.323683,265.748031,39286.419028,2007-07-23 10:03:24,20070723033153.plt,0,171,31967,0.065207,0.000973,67.0,-0.000001,214.491703,36.486711,0.084086,0.544578,0.007901,328571
30,39.973733,116.323250,364.173228,39286.419421,2007-07-23 10:03:58,20070723033153.plt,0,171,31967,0.057808,0.001700,34.0,0.000021,320.300578,105.808875,0.427589,3.112026,0.075513,328571
31,39.973317,116.322967,246.062992,39286.420243,2007-07-23 10:05:09,20070723033153.plt,0,171,31967,0.052245,0.000736,71.0,-0.000014,207.524658,112.775920,1.310617,-1.588393,-0.066203,328571
32,39.973150,116.323283,291.994751,39286.421273,2007-07-23 10:06:38,20070723033153.plt,0,171,31967,0.032735,0.000368,89.0,-0.000004,124.480684,83.043973,1.000579,-0.933078,0.007363,328571

In [64]:
# Get the first 300 entries
first_300_unlabelled_df = unlabelled_df.head(10000)

# Save the filtered DataFrame to a CSV file
first_300_unlabelled_df.to_csv('first10000_unlabelled.csv', index=False)

Segment the data once more

In [65]:
# Den code nachbessern! aktuell changed er so 3 datpoints nachdem die trajectory gechanged hat

Löschen: alles außer die datenpunkte

Do all the calculations again in the newly created segments

In [17]:
unlabelled_df = data_processing.calculations(unlabelled_df,'segment_id')

:

# Predict the unlabelled data

using xgboost

Train the model using all data